<div class="gallerycontainer">
  <div class="gallerydiv">
    <img class="mySlides" src="images/bakeryslide1.jpg">
    <img class="mySlides" src="images/bakeryslide2.jpg">
    <img class="mySlides" src="images/bakeryslide3.jpg">
    <img class="mySlides" src="images/bakeryslide4.jpg">
  </div>

  <div class="gallerydeets">
    <p> In 2017, TCD opened its first shop in New York City. Immediately recognized for its novel flavors and inviting, casual atmosphere, the shope soon became a popular dessert shop and cafe in the neighborhood.

    <p>TCD strives to bring you not only the best recipes with quality ingredients, but TCD also wants to share its love of baking with all. Join us as we bring you our newest flavors!</p>

    </p>
    <hr>
<center>
    <p><i>Cooking and baking is both physical and mental therapy.</i>
      <br>
      ~Mary Berry
    </p>
  </center>

  </div>

</div>
