<div class="gallerycontainer">
  <div class="gallerydiv">
    <img class="mySlides" src="images/bakeryslide1.jpg">
    <img class="mySlides" src="images/bakeryslide2.jpg">
    <img class="mySlides" src="images/bakeryslide3.jpg">
    <img class="mySlides" src="images/bakeryslide4.jpg">
  </div>

  <div class="gallerydeets">
    <p>We'll let you in on a little secret. Our secret ingredient is humor. Baking isn't supposed to be a chore, so we created TCD as way to share our love of baking and our recipes with everyone!
    </p>
    <hr>
    <p>Cooking and baking is both physical and mental therapy.
      <br>
      <i>~Mary Berry</i>
    </p>

  </div>

</div>
