<container class="productgrid">

  <% $cakes.each do |i| %>
    <div class="pastryinnergrid">

      <div class="pastryimg">
        <img src="<%= i.img %>">
        <br>
      </div>
      <div class="pastryinfo">
        <h2><%= i.name %>
        </h2>
        <p><%= i.price %></p>
        <p><%= i.description %></p>

      </div>

    </div>
  <% end %>

</container>
