<div class="contactdiv">
  <div class="contactdeets">
    <h2>CONTACT</h2>
    <p><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;(844) 322-2633 </p>
      <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;90 John Street</p>
      <p><i class="fas fa-envelope-open"></i>&nbsp;&nbsp;&nbsp;info@afinbakery.com</p>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.455611342646!2d-74.00875538482592!3d40.70798567933224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a17e1acd123%3A0x7b2c1ea2703584f9!2s90+John+St%2C+New+York%2C+NY+10038!5e0!3m2!1sen!2sus!4v1534277692685"
      width="400"
      height="400"
      frameborder="0"
      style="border:0"
      allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>
