<div class="row">
  <div class="maincontent">
    <div class="leftstuff">

      <div class="board">
        <div>
          <h2>We're Open!</h2><br>
          <p>&nbsp;<i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;(844) 322-2633 <br><br>
            <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;90 John Street</p>
        </div>
      </div>
    </div>
    <div class="right">
      <p>
        Welcome to A Friend in Knead, New York's hottest bakery. We've got everything! Muffins with no chill, cookies that bite <i>you</i>, and a new limited flavors every week!</p>
        <p>Come one, come all to AFiN bakery on Wall Street, and take a bite out of our cakes!</p>
      </p>
      <hr>
      <center>
      <p>Follow us for news and deals!</p>
      <h2>
        <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a> &nbsp;
          <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a> &nbsp;
          <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a> &nbsp;
      </h2>
    </center>

    </div>

  </div>
</div>
