




    <div class="row">
      <div class="maincontent">
        <div class="leftstuff">

          <div class="board">
              We're Open!
          </div>
        </div>
        <div class="right">
          <p>RIGHT</p>
          <p> At A Friend in Need, we bring you the best products. Please en </p>
          <p> Subscribe to get our latest list of products! </p>
        </div>
      </div>
    </div>
