<div class="row">
  <div class="maincontent">
    <div class="leftstuff">

      <div class="board">
        <div>
        <h2>We're Open!</h2>
        <p>&nbsp;<i class="fas fa-phone"></i>&nbsp;212-479-7990<br>
        <i class="fas fa-map-marker-alt"></i>&nbsp;90 John Street</p>
      </div>
      </div>
    </div>
    <div class="right">
      <p>
        Welcome to a A Friend in Knead, New York's hottest bakery. We've got everything! Bread that rises itself,
      </p>


    </div>

  </div>
</div>
