<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100|Amatic+SC|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <title>A Friend in Knead Bakery</title>
     <meta name="viewport" content="width=device-width">

  </head>

  <body>

    <div class="menubar">
      <div class="odd">
        <p></p>
      </div>
      <div class="even">
        <p></p>
      </div>
      <div class="odd">
        <p></p>
      </div>
      <div class="even">
        <p></p>
      </div>
      <div class="odd">
        <p></p>
      </div>
      <div class="even">
        <p></p>
      </div>
      <div class="odd">
        <p></p>
      </div>
      <div class="even">
        <p></p>
      </div>
      <div class="odd">
        <p></p>
      </div>
      <a href="/">
        <div class="even">
          <p>HOME</p>
        </div>
      </a>
      <a href="/events">
        <div class="odd">
          <p>EVENTS
          </p>
        </div>
      </a>
      <a href="/about">
        <div class="even">
          <p>ABOUT</p>
        </div>
      </a>
      <a>
        <div class="odd" id="myBtn">
          <p>THE GOODS!</p>
        </div>
      </a>
      <a href="/contact">
        <div class="even">
          <p>CONTACT
          </p>
        </div>
      </a>

    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="productlinks">
          <a href="/cakes">
            <div class="productbtn invis" id="btn1">
              <p>CAKES
              </p>
            </i>
          </div>
        </a>
        <a href="/cookies">
          <div class="productbtn invis" id="btn2">
            COOKIES
          </i>
        </div>
      </a>
      <a href="/muffins">
        <div class="productbtn invis" id="btn3">
          MUFFINS
        </div>
      </a>
    </div>
  </p>
</div>
</div>

<div class="allcontent">

<div class="row">
  <div class="shopname animated fadeIn">
    <h1>
      A Friend in Knead Bakery
    </h1>
  </div>
</div>

<%= yield%>

</div>

<footer class="footer"></footer>
<script src="javascript.js"></script>

</body>

</html>
