html {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 251, 181);
}

a:visited {
  color: rgb(170, 200, 70);
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(79, 22, 51, 0.86), rgba(0, 0, 0, 0.6)), url('images/back1.jpg');
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-decoration: none;
  color: white;
}

footer {
  margin-top: 4em;
  text-align: right;
  font-size: .8em;
}

.menubar {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.menubar a {
  text-decoration: none;
  color: white;
}

.menubar div {
  width: 150px;
  background: linear-gradient( rgb(242, 159, 174), rgb(238, 190, 198));
  height: 50px;
  border-radius: 0 0 150px 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 20px 0;
  border-style: solid;
  border-width: 20px 0 0 0;
  border-color: rgb(190, 123, 136);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, .3);
  transition-duration: .5s;
}

.odd {
  border-color: rgb(161, 65, 113) !important;
  background: linear-gradient( rgb(211, 86, 149), rgb(168, 65, 117)) !important;
}

.menubar div:hover {
  height: 80px;
  transition-duration: .5s;
  text-decoration: overline;
  color: rgb(255, 254, 142);
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.eventrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
}

.shopname {
  margin-top: 50px;
  color: rgb(255, 251, 181);
  display: flex;
  justify-content: flex-end;
  font-size: 1.6em;
  font-family: 'Lobster', cursive;
  height: 100px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, .6);
  padding-bottom: 5px;
}

.allcontent {
  min-height: calc(100vh - 140px);
  padding: 40px 40px 0 40px;
}

.maincontent {
  display: grid;
  grid-template-columns: 4fr 8fr;
  font-size: 1.2em;
  color: rgb(62, 45, 33);
}

.footer {
  height: 50px;
  background-color: rgba(101, 148, 209, .9);
  box-shadow: 0px -2px 5px black;
}

.board {
  background: url('images/board.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-8deg);
  font-family: 'Amatic SC', monospace;
  font-size: 1.8em;
  width: 30vw;
  height: auto;
  color: ivory;
  padding: 30px;
  padding-top: 55%;
  box-sizing: border-box;
  position: relative;
}

.board div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  line-height: 80%;
}

.board h2 {
  margin-bottom: -.5vh;
}

/*
MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  width: 50%;
  width: 150px;
  position: absolute;
  right: 150px;
  top: 100px;
}

.productbtn {
  width: 150px;
  border-radius: 0 0 150px 150px;
  background: linear-gradient(transparent, rgba(242, 159, 174, .7), rgba(242, 159, 174, 1));
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, .3);
  color: white;
}

.productbtn:hover {
  text-decoration: overline;
  color: rgb(255, 254, 142);
}

.productgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pastryinfo {
  background:  radial-gradient(rgba(250, 209, 107, 0.64), rgba(240, 144, 121, 0.54));
  padding: 10px;
  border-radius: 0 20px 5px 0
}

.pastryinfo h2 {
  color: rgb(204, 255, 163)
}

.pastryimg {
  background: radial-gradient(rgba(250, 209, 107, 0.64), rgba(240, 144, 121, 0.54));
  border-radius: 5px 0 0 20px;
}

.productgrid img {
  width: 100%;
}

.pastryinnergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  padding: 5px;
}

.eventgrid div {
  max-width: 500px;
}

.eventinnergrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  box-sizing: border-box;
  line-height: 1em;
  box-shadow: 0 0 5px black;
}

.eventinnergrid div {
  box-sizing: border-box;
  color: white;
  box-sizing: border-box;
}

.eventinfo {
  box-sizing: border-box;
  background-color: rgba(93, 146, 201, .8);
  padding: 10px 25px 10px 25px !important;
  color: white;

}

.eventimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.eventinnergrid img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.invis {
  opacity: 0
}

.descriptions {
  font-size: 1em;
}

hr {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #83dbe0;
  color: rgb(242, 159, 174);
  border: 0 none;
}

.right {

  color: white;
  padding: 20px;
}

.eventinnergrid h2 {
  text-align: right;
  line-height: 1em;
}

.join {
  text-align: right;
  color: white;
}

.gallerydiv img {

  width: 100%;
}

.gallerycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 10px black;
}

.gallerydeets {
  padding: 40px;
  background-color: rgba(255,255,255, 0.67);
  color: rgb(142, 45, 45);
  font-size: 1.3em
}

.contactdiv {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
}

.contactdeets {
  padding: 0 20px 0 0;
  text-align: right;
}
